@media screen and (min-width: 1024px){
.navbar-dropdown.is-boxed {
  border-radius: 0;
  top: calc(100%);
}
}

.d-flex{
  display:flex;
}
.bg-img{
  background-size: cover;
  background-repeat: no-repeat;
}
.align-self-center{
  align-self: center;
}
.home-text{
  color:#fff;
  margin:auto;
  h2{
    font-size:5rem;
    text-shadow:4px 3px 14px #000000c7;
  }
}

.footer-logo{
  img{
    max-width: 120px;
  }
  .flex-item{
    max-width: 120px;
    align-self: center;
    margin-bottom: 5px;
  }
}

.footer{
  padding: 3rem 1.5rem 2rem;
}
@media screen and (min-width: 1024px){
  .navbar > .container .navbar-menu, .container > .navbar .navbar-menu {
    margin-right: 0;
  }
}


